.appContainer {
  width: 100%;

  position: relative;
  background-color: rgb(218, 194, 194);
  overflow: hidden;

  .navbarContainer {
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 2px solid var(--black);
    @include center_dynamic_child;
  }

  .pageContainer {
    @include center_dynamic_child;
  }
}

.appContainslaygrouund {
  height: 100vh;
}

.playGroundPage {
  height: 100%;
}

/* 
.appContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgb(219, 224, 240);
  position: relative;
  overflow: hidden;
} */
