.appContainer {
  width: 100%;

  position: relative;
  overflow: hidden;

  .navbarContainer {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--white);
    border-bottom: 2px solid var(--black);
  }

  .pageContainer {
    box-sizing: border-box;
    padding-top: 2.5rem;
    // border: solid 7px red;
    @include center_dynamic_child;
  }

  .playgroundPageContainer {
    height: 100vh;
  }
}
