@import url(./styles/colors.css);
@import url(./styles/variables.css);

* {
  margin: 0;
  font-family: Verdana, sans-serif;
  background-color: var(--white);
}
/* 
html {
  scrollbar-gutter: stable both-edges;
} */
