.decksPageContainer {
  margin: 3rem 0rem;
  padding: 0rem 1rem;
  @include centered_child_container;

  .decksList {
    margin: 1rem 0rem;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;

    .deckRepresentation {
      box-sizing: border-box;
      border: 2px solid var(--black);
      width: 24rem;
      aspect-ratio: 5/3;
      // padding: 2rem;
      border-radius: 0.375rem;
      position: relative;
      box-shadow: 1px 1px 0px 1px var(--black);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.225rem;
    }
    .addDeck {
      box-shadow: none;
      border: 3px dashed var(--black);
    }
    // text-decoration: none;

    .addDeck {
      background-color: var(--primary-color-very-light);
      border-color: var(--primary-color);
      color: var(--black);
      span {
        background-color: var(--primary-color-very-light);
      }
      cursor: pointer;
      &:hover {
        color: var(--primary-color);
      }
    }

    .addDeckNoHover {
      cursor: default;

      &:hover {
        color: var(--black);
      }
    }
  }
}

.jumpAnimation {
  animation: jump 0.2s ease-in-out forwards; /* Apply jump animation for 3 seconds */
}

@keyframes jump {
  0% {
    transform: translateY(50px);
  }

  50% {
    transform: translateY(-10px); /* Move up */
  }

  100% {
    transform: translateY(0px);
  }
}

.formContainer {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 1rem;
  text-align: center;
  overflow: scroll;
  scrollbar-width: none;
  background-color: var(--primary-color-very-light);

  .deckName {
    @include input_text_textarea;
    margin-bottom: 0.75rem;
    text-align: center;
  }

  .deckDescription {
    @include input_text_textarea;
    width: 90% !important;
    height: 4rem;
    text-align: center;
  }

  .buttonsContainer {
    margin-top: 1rem;
    display: flex;
    gap: 0.325rem;
    align-items: center;
  }
  .generateButtonContainer {
    flex: 1;
  }
  .scratchButtonContainer {
    flex: 1;
  }
}
