.decksPageContainer {
  margin: 3rem 0rem;
  padding: 0rem 1rem;
  @include centered_child_container;

  .decksList {
    margin: 1rem 0rem;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;

    .deckRepresentation {
      box-sizing: border-box;
      border: 2px solid var(--black);
      width: 18rem;
      aspect-ratio: 5/3;
      padding: 2rem;
      border-radius: 0.375rem;
      position: relative;
      box-shadow: 1px 1px 0px 1px var(--black);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.225rem;
    }
    .addDeck {
      box-shadow: none;
      border: 2px dashed var(--black);
    }

    .createDeckLink {
      // text-decoration: none;
      color: var(--black);
      &:hover {
        color: var(--primary-color);

        .addDeck {
          background-color: var(--primary-hover);
          border-color: var(--primary-color);
          span {
            background-color: var(--primary-hover);
          }
        }
      }
    }
  }
}

.jumpAnimation {
  animation: jump 0.2s ease-in-out forwards; /* Apply jump animation for 3 seconds */
  background-color: red;
}

@keyframes jump {
  0% {
    transform: translateY(50px);
  }

  50% {
    transform: translateY(-10px); /* Move up */
  }

  100% {
    transform: translateY(0px);
  }
}

.formContainer {
  margin-top: 2rem;
  border: 1px solid black;
}
