.playGroundContainer {
  height: 100%;
  width: 100%;
  display: flex;
  .graphViewerContainer {
    flex-basis: 80%;
    flex-grow: 1;
    .toolBar {
      border-bottom: 2px solid $black;
      display: flex;
      gap: 2rem;
      height: $navbar-height * 0.7;
      align-items: center;
      .selectedDeckName {
        .rightPanelIcon {
          transform: translateY(3px);
        }
        font-size: 1rem;
        font-weight: 600;
        text-decoration: underline;
        display: flex;
        align-items: baseline;
      }

      .addCardIconContainer {
        height: 18px;
        aspect-ratio: 5/3;
        border: 1px solid $black;
        border-radius: 0.125rem;
        box-shadow: 1px 1px 0px $black;
        text-align: center;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .canvasContainer {
      box-sizing: border-box;
      height: 100%;
      transition: flex 0.4s ease-in-out;
    }
  }
  .cardPanelContainer {
    flex-basis: 420px;
    box-sizing: border-box;
    padding: 1rem;
    border-left: 0.125rem solid $black;
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    justify-content: center;
  }
}
