.playGroundContainer {
  height: 100%;
  width: 100%;
  display: flex;
  .graphViewerContainer {
    flex-basis: 80%;
    flex-grow: 1;
    .graphViewerBar {
      border-bottom: 2px solid var(--black);
      display: flex;
      gap: 2rem;
      height: var(--navbar-height);
      align-items: center;
      .selectedDeckName {
        .rightPanelIcon {
          transform: translateY(3px);
        }
        font-size: 1rem;
        font-weight: 600;
        text-decoration: underline;
        display: flex;
        align-items: baseline;
      }
    }
    .canvasContainer {
      box-sizing: border-box;
      height: 100%;
      transition: flex 0.4s ease-in-out;
    }
  }
  .cardPanelContainer {
    flex-basis: 420px;
    box-sizing: border-box;
    padding: 1rem;
    border-left: 0.125rem solid var(--black);

    display: flex;
    justify-content: center;
  }
}
