.cardNode {
  box-sizing: border-box;
  height: 150px;
  background-color: $white;
  padding: 0.865rem;
  aspect-ratio: 5/3;
  border: 1px solid $black;
  box-shadow: 1px 1px 0px;
  overflow-y: auto;

  .front {
    margin-bottom: 0.325rem;
  }
  .back {
    font-size: $smallish-font-size;
  }
}
