.rtl {
  direction: rtl;
}

.formContainer {
  margin-top: 2rem;
  width: 100%;

  .fieldContainer {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0rem;
    align-items: center;
    width: 100%;

    label {
      font-weight: 600;
      flex-basis: 6rem;
      text-align: right;
      font-size: small;
    }

    div,
    select,
    textarea,
    input {
      flex-basis: 20rem;
    }
    select,
    textarea,
    input {
      @include input_text_textarea;
      width: 100%;
      font-size: $smallish-font-size;
    }
  }

  .formButtonsContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}
