.formContainer {
  box-sizing: border-box;
  text-align: center;
  scrollbar-width: none;

  .deckName {
    @include input_text_textarea;
    margin-bottom: 0.75rem;
    text-align: center;
    width: 100%;
    &:focus {
      border: none;
    }
  }

  .deckDescription {
    @include input_text_textarea;
    width: 90% !important;
    height: 4rem;
    text-align: center;
    font-size: var(--small-font-size);
  }

  .buttonsContainer {
    margin-top: 1rem;
    display: flex;
    gap: 0.325rem;
    align-items: center;
    .or {
      font-size: var(--small-font-size);
    }
  }
  .generateButtonContainer {
    flex: 1;
  }
  .scratchButtonContainer {
    flex: 1;
  }
}
