.deckSpace {
  position: relative;

  .deckRepresentation {
    align-self: flex-start;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 3/5;
    height: 24rem;
    border: 2px solid $black;
    border-radius: 1px;
    font-size: 1.225rem;
    &:hover {
      cursor: pointer;
      background-color: $primary-color-hover;
    }
    &.editDeckNoHover {
      &:hover {
        cursor: default;
        background-color: $white; //TODO: for some reason $white dont work
      }
    }
    .scrollableDeckContent {
      box-sizing: border-box;
      padding: 1rem;
      width: 100%;
      overflow: auto;
    }
    div {
      text-align: center;
    }

    .deckDecriptionContainer {
      margin-top: 1rem;
      font-size: $small-font-size;
    }
  }

  .deckEllipsisContainer {
    position: absolute;
    padding: 0.275rem;
    padding-top: 0.575rem;
    top: 0;
    right: 0;
    color: $dark-gray;
    &:hover {
      color: $black;
      cursor: pointer;
    }

    .itemDiv {
      display: flex;
      gap: 0.375rem;
      padding: 0.325rem;
    }
  }
}
