.formContainer {
  box-sizing: border-box;
  text-align: center;
  scrollbar-width: none;

  .buttonsContainer {
    margin-top: 1rem;
    display: flex;
    gap: 0.325rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
