.contextMenuContainer {
  box-sizing: border-box;
  display: flex;
  border: 1px solid black;
  background-color: $white;

  div {
    border-left: 1px solid black;
  }

  div:first-child {
    border-left: none;
  }
}
