.formContainer {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  text-align: center;
  scrollbar-width: none;
  background-color: var(--primary-color-very-light);

  .deckName {
    @include input_text_textarea;
    margin-bottom: 0.75rem;
    text-align: center;
  }

  .deckDescription {
    @include input_text_textarea;
    width: 90% !important;
    height: 4rem;
    text-align: center;
  }

  .buttonsContainer {
    margin-top: 1rem;
    display: flex;
    gap: 0.325rem;
    align-items: center;
  }
  .generateButtonContainer {
    flex: 1;
  }
  .scratchButtonContainer {
    flex: 1;
  }
}
