.addDeckFrame {
  align-self: flex-start;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 3/5;
  width: 180px;
  border-radius: 1px;
  font-size: 1rem;
  box-shadow: none;
  border: 3px dashed $black;
  color: $black;
  cursor: pointer;
  &:hover {
    cursor: pointer;
    background-color: $primary-color-hover;
    border-color: $primary-color;
  }
  &.addDeckNoHover {
    border-color: $primary-color;
    &:hover {
      cursor: default;
      background-color: $white;
    }
  }

  .deckDecriptionContainer {
    margin-top: 1rem;
    font-size: $small-font-size;
  }
}

.itemDiv {
  display: flex;
  gap: 0.375rem;
}
