.DisplayDeckInfoContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    // background-color: $primary-color-hover;
  }
}

.deckNameContainer {
  font-size: $big-font-size;
  width: 90%;
  text-align: center;
}
.deckDecriptionContainer {
  margin-top: 1rem;
  font-size: $small-font-size;
  width: 90%;
  text-align: center;
}
