.controlledLinkContainer {
  // flex-basis: 50%;
  flex: 3;
  // height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .linkContainer {
    flex: 1;
    // max-height: 1.7rem; // less space for when it is a sngl undirected link -> keep the check box label closer
    display: flex;
    align-items: end;
    justify-content: center;
    .link {
      position: relative;
      margin-bottom: 0.125rem;
      text-align: center;
      .arrowLabel {
        position: relative;
        z-index: 1;
        width: 70%;
        border: dashed $black 1px;
        border-radius: 0;
        font-size: $small-font-size;

        &:focus {
          outline: none;
        }
      }

      .left {
        position: absolute;
        left: 0;
        top: 55%;
      }
      .right {
        position: absolute;
        right: 0;
        top: 55%;
      }
    }
  }

  .linkDirectionControllersContainer {
    flex: 1;

    .controlLabel {
      user-select: none;
      font-size: $smallest-font-size;
      margin-left: 0.325rem;
      color: $dark-gray;
    }
    .checkboxContainer {
      margin-top: 0.125rem;
      display: flex;
      align-items: start;
      &:hover {
        .directedLinkLabel {
          cursor: pointer;
          color: $primary-color;
        }
      }
      .checkboxInput {
        width: 11px;
      }

      .checkboxLabel {
        font-size: $smallest-font-size;
        margin-left: 0.325rem;
        color: $dark-gray;
      }
    }

    .switchDirectionContainer {
      display: flex;
      align-items: start;
      &:hover {
        .switchDirectionLabel {
          cursor: pointer;
          color: $primary-color;
        }
      }
    }
  }
}
