@mixin shadow_box($x: 1px, $y: 1px) {
  box-shadow: $x $y 0 0px var(--black);
}

@mixin center_dynamic_child {
  display: flex;
  justify-content: center;
}

@mixin centered_child_container {
  flex-basis: 1000px;
}

@mixin input_text_textarea {
  box-sizing: border-box;
  padding: 0.225em;
  border: 2px solid var(--black);
  border-radius: 0.225rem;
  font-size: 1rem;
}
